* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    margin: 0; /* Asegura que no haya margen en el body */
    border: 10px solid rgb(146, 79, 2);
    padding: 10px; /* Agrega relleno (padding) para mantener el contenido dentro del borde */
  }
  
  header {
    width: 100%;
    height: 25%;
    margin: 0; /* Asegura que no haya margen en el body */
    border: 4px solid rgb(9, 5, 250);
    padding: 10px; /* Agrega relleno (padding) para mantener el contenido dentro del borde */
  }